# We should not touch this.
-c https://zopefoundation.github.io/Zope/releases/5.8.3/constraints.txt
# comment==1.0
annotated==1.0
CamelCase==1.0
duplicate==1.0
duplicate==1.0
lowercase==1.0
package==1.0
pyspecific==1.0
pyspecific==2.0; python_version=="3.12"
onepython==2.1; python_version=="3.12"
UPPERCASE==1.0
